*{
    background-color:rgba(150, 145, 145, 0.8) ;
}

h1{
text-align: center;


}

.grid-container{

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 30px 30px;

}
.grid-item {
    background-color: rgba(40, 39, 39, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
  }