body{
    background-image: linear-gradient(to bottom right,rgb(41, 81, 229), rgb(88, 201, 92));
    ;
}

label{
    color:white;
}
h1{
font-size: 30px;

}

#movie-form{

justify-content: space-around;
justify-content: center;
display:flex;
}

header{
    justify-content: center;
    display:flex;
}
.icon{
    position:relative;
    top: 0;
}

.grid-container{

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 30px 30px;


}
.grid-item {
    background-image: linear-gradient(to bottom right,rgb(41, 81, 229), rgb(88, 201, 92));
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
  }

.movie-title{


    color:white;
}

.movie-votes{


    color:white;
}

.movie-poster{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;

}